
.slides {
    margin-top:100px;
    padding: 0;
    width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 400px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 350px;
    font-family: inherit;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide figure {
  display: block;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}
.slide-figure {
    width: 30%;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    padding: 20px 50px 40px;
}
.slide-figure>h4>a {
    color: #2267af !important;
}
.slide-figure>a.button {
    background: #2267af;
    color: white!important;
    padding: 6px 20px;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    text-align: center;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}


/*
*
* Responsive
* max-widths
*
*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .slides {
    top: 81px !important;
    margin-bottom: 100px !important;
    height: 200px!important;
  }
  .slide {
      height: 200px !important;
  }
  .slide figure {
    margin: 50px 0 !important;
  }
  .slide-figure {
    width: 80%;
    padding: 10px;
    text-align: center;
  }
  .nav label {
    width: 10%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 9;
    font-size: 156pt;
    line-height: 200px;

  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
